.repomixignore

# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/

# production
build
dist
test-ledger/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# internet computer
.dfx/
canister_ids.json

# testing
coverage

# solana
test-ledger/
~temp-wallet.json

# misc
.DS_Store
*.pem
